<ol>
  <strong>
    <li>What is the difference between imports, declarations, and providers?</li>
  </strong>
  <p>Import: import is Array of lists of imported supporting modules in the project</p>
  <p>Declarations: declarations is Array of lists used to declare components, directives, pipes that belongs to the current
    module
  </p>
  <p>Providers: Providers is Array of lists is used to inject the services required by components, directives, pipes in our
    module
  </p>

  <strong>
    <li>What is the difference between components, directives, models, modules, and services?</li>
  </strong>
  <p>Directive: A directive is a custom HTML element that is used to extend the power of HTML. </p>
  <p>Components : Components are the most basic UI building block of an Angular app. An Angular app contains a tree of Angular
    components. Angular components are a subset of directives, always associated with a template. Unlike other directives,
    only one component can be instantiated per an element in a template. A component must belong to an NgModule in order
    for it to be available to another component or application. To make it a member of an NgModule, list it in the declarations
    field of the NgModule metadata.</p>
  <P>Models: A model is nothing but the skeleton of the data, or a class, to be precise</P>
  <p>Module: Module in Angular refers to a place where you can group the components, directives, pipes, and services, which
    are related to the application.</p>
  <p>Services: Services in Angular allow you to define code that's accessible and reusable throughout multiple components. A
    common use case for services is when you need to communicate with a backend of some sort to send and receive data.</p>
</ol>